{% extends 'base.html' %}

{% load get_item from template_filters %}
{% block content %}

    <h1>Creation of a new contextualization:</h1>

    <p style="font-family: 'Times New Roman';font-size: medium">
        Choose a name for your contextualization
    </p>
    <form method="POST" name = "formname" action="{% url 'save_contextualization'%}">
        {% csrf_token %}
        {{ form.as_p }}

         <p style="font-family: 'Times New Roman';font-size: medium">
            Choose the default maturity levels for your contextualization (you can edit everyone of them for each subcategory if you want)
         </p>

            <table class="table" id="tableform">
            <thead>
                <tr>
                    <th>Level Name</th>
                    <th>Level Description</th>
                    <th>Level</th>
                    <th>Remove</th>
                </tr>
            </thead>

            <tbody id="tb">
            <tr>
                <td>
                    <input name="namemat" id = "matname" type="textarea" size="40" maxlength="200" />
                </td>
                <td>
                    <input name="description" id = "matdesc" type="textarea" size="40" maxlength="2000" />
                </td>
                <td>
                    <ul class = sub>
                        <select name="levelist" class="form-control" style="width: 150px !important; min-width: 150px; max-width: 150px;" required>
                            <option value="" selected disabled hidden>Choose here</option>
                            <option>{{0}}</option>
                            <option>{{1}}</option>
                            <option>{{2}}</option>
                            <option>{{3}}</option>
                        </select>
                    </ul>
                </td>

                <td>
                    <input type="button" class="btn btn-primary btn-sm" id= "remove" value="Remove row"  />
                </td>

            </tr>
            </tbody>
            </table>
            <input type="button" value="Add Row" class="btn btn-primary btn-sm" id="add" />


        <hr>
        <h5> Select the subcategories with their priority:</h5>
        <hr>
                {% for category in categories %}
                <p>
                    <b>Function:</b> {{ category.function }}<br>
                    <b>Category Name: </b>{{ category.name }}<br>
                    <b>Category Description:</b>{{ category.description }}<br>
                    <input type='button' onclick="toggle_visibility('{{ category.id }}')" value='show or hide'>
                </p>
                            <table class= table id="{{ category.id }}">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Subcategory </th>
                                    <th>Priority level</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>

                            {% for subcategory in subcategory_list %}
                            {% if subcategory.category_id == category.id %}
                                <tr>
                                    <td>
                                        <input type="checkbox" id="checbox" name="subcategory" value={{ subcategory.id}}/>
                                    </td>
                                    <td>{{ subcategory}}: {{ subcategory.description}} </td>
                                    <td>
                                        <select name="priority" class="form-control" style="width: 150px !important; min-width: 150px; max-width: 150px;">
                                             <option value="" selected disabled hidden>Choose here</option>
                                            {% for value in priority_list %}
                                            <option>{{ value}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>

                                </tr>
                            {% endif %}
                        {% endfor %}
                            </tr>
                            </tbody>
                            </table>
            {% endfor %}

    <button type="submit" class="btn btn-primary btn-sm">save context</button>
    </form>

    <script>
        toggle_visibility = function (id){
            var e = $("#"+id);
            e.toggle();
            }
    </script>


    <script>
       $(document).ready(function() {
        $("#add").click(function() {
            var row= $('#tableform tbody>tr:last').clone(true).insertAfter('#tableform tbody>tr:last');
          return false;
            });


        $("#remove").click(function(){
            var rowCount = $('#tb tr').length;
            if(rowCount >1)
            {
                $(this).closest('tr').remove();
            }
            else{
                alert("you can't remove all the rows")
            }
        });

        });

    </script>


{% endblock %}