{% extends 'base.html' %}

{% load get_item from template_filters %}
{% block content %}

    <h1>Selection of controls:</h1>
    <p style="font-family: 'Times New Roman';font-size: medium">
        Select the controls you have implemented for each subcategory and explain how you implemented it.
    </p>
    <form method="POST" name = "formname" action="{% url 'save_profile_controls' profile %}">
        {% csrf_token %}
        <div style="height:520px;width:1120px;border:1px solid #ccc;overflow:auto;">

         {% for subcategory in subcategory_and_controls %}
                <p>
                    <b>Subcategory Name: </b>{{ subcategory.subcategory.name }}<br>
                    <b>Subcategory Description:</b>{{ subcategory.subcategory.description }}<br>
                    <input type='button' onclick="toggle_visibility('{{ subcategory.subcategory.id }}')" value='show or hide'>
                </p>
                            <table class= table id="{{ subcategory.subcategory.id }}" style="display:none">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Control</th>
                                    <th>Implementation</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>

                            {% for control in subcategory.related_controls%}
                                <tr>
                                    <td>
                                        <input type="checkbox" id="checbox" name="controls" value="{{ subcategory.subcategory.id}}\{{control.id}}"/>
                                    </td>
                                    <td>
                                        <a href="" style="color: black" data-toggle="modal"
                                           data-target="#Sub{{subcategory.subcategory.id}}ControlInfo{{control.id}}">
                                            {{ control.name }}
                                        </a>
                                        <div class="modal" tabindex="-1" id="Sub{{subcategory.subcategory.id}}ControlInfo{{control.id}}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title">{{ control.name }}</h1>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Description: {{ control.description }}</p>
                                                        <p>Maturity Level: {{ control.maturity_level }}</p>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">
                                                            Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                         <input type="text" name="controls_implementation" class="resizedTextbox">
                                    </td>

                                </tr>
                            {% endfor %}
                            </tr>
                            </tbody>
                            </table>
            {% endfor %}
            </div>
     <button type="submit" class="btn btn-primary btn-sm">Save controls</button>
    <a href="{% url 'profile_management' context %}">
        <input type="button" class="btn btn-primary btn-sm" value="Done" />
    </a>
    </form>




    <script>
        toggle_visibility = function (id){
            var e = $("#"+id);
            e.toggle();
            }
    </script>



{% endblock %}